@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");
#painel .blue {
  border-color: #063cfe; }
  #painel .blue > .panel-heading {
    color: #f7f7f7;
    background-color: #063cfe;
    border-color: #063cfe; }

#painel .orange {
  border-color: #f39c12; }
  #painel .orange > .panel-heading {
    color: #f7f7f7;
    background-color: #f39c12;
    border-color: #f39c12; }

#painel .green {
  border-color: #063cfe; }
  #painel .green > .panel-heading {
    color: #f7f7f7;
    background-color: #063cfe;
    border-color: #063cfe; }

#caixa .orange {
  background-color: #f39c12; }

#caixa .blue {
  background-color: #063cfe; }

#caixa .red {
  background-color: #dd4b39; }

#caixa .small-box h3 {
  z-index: 5;
  font-size: 38px;
  font-weight: bold;
  margin: 0 0 10px 0;
  white-space: nowrap;
  padding: 0;
  color: #ffffff; }

#caixa .small-box p {
  z-index: 5;
  font-size: 15px;
  color: #ffffff; }

#caixa .small-box:hover {
  text-decoration: none;
  color: #ffffff; }

#caixa .small-box .inner {
  padding: 10px; }

#caixa .small-box > .small-box-footer {
  position: relative;
  text-align: center;
  padding: 3px 0;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  display: block;
  z-index: 10;
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none; }
  #caixa .small-box > .small-box-footer:hover {
    background: rgba(0, 0, 0, 0.15); }

#caixa .small-box .icon {
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  position: absolute;
  top: -15px;
  right: 30px;
  z-index: 0;
  font-size: 90px;
  color: rgba(0, 0, 0, 0.15); }

#caixa .small-box:hover .icon {
  font-size: 95px; }
