// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");

// Body
$body-bg: #f5f8fa;

// Painel
$panel-color    : #f7f7f7;
$blue-panel     : #063cfe;
$orange-panel   : #f39c12;
$red-panel      : #dd4b39;

//Caixa
$box-color      : #ffffff;