// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");

// Body
$body-bg: #f5f8fa;

// Painel
$panel-color          : #f7f7f7;
$blue-panel     : #0d4a96;
$orange-panel   : #e85e0d;

//Caixa
$box-color      : #ffffff;